<div class="apella-question choice" questionId="{{ question_id }}" type="choice">
    {% for option in options %}
        <div option-id="{{ option.id }}" class="question-choice {{ 'selected' if answer and (option.id in answer.selected_option_ids) else '' }}">
            {% if is_teacher %}
                {{ option.html|safe }}
                <div class="chart-container">
                    <label>{{ chr(loop.index + 64) }}</label>
                    <svg>
                        <g class="response-chart">
                            <rect height="100%" fill="green" />
                        </g>
                    </svg>
                </div>
            {% else %}
                {{ option.html|safe }}
            {% endif %}
        </div>
    {% endfor %}
</div>